.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.left {
  float: left;
}

.right {
  float: right;
}

button {
  background-color: #e7e7e7; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  margin: 5px;
}

button:hover {
  border: 2px solid coral;
  padding: 13px 30px;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

@media only screen and (max-width: 1024px) {
  .row {
    flex-direction: column;
  }
}